holy-bible-api.com {
  redir /beszel /beszel/

  basicauth /beszel/ {
    admin ###generate password with docker run --rm -it caddy caddy hash-password
  }

  handle_path /beszel* {
    reverse_proxy beszel:8090
  }

  reverse_proxy web:8080
}

