[Unit]
Description=API Service
After=network.target

[Service]
ExecStart=/usr/local/bin/api
Restart=on-failure
RestartSec=5
User=www-data
Environment=RUST_LOG=info
WorkingDirectory=root/holy-bible-api/api

[Install]
WantedBy=multi-user.target