# Database Settings
DB_HOST=REPLACE_ME
DB_PORT=REPLACE_ME
DB_NAME=REPLACE_ME
DB_USER=REPLACE_ME
DB_PASSWORD=REPLACE_ME
DB_SSL_MODE=REPLACE_ME

# AWS Settings
AWS_ACCESS_KEY_ID=REPLACE_ME
AWS_SECRET_ACCESS_KEY=REPLACE_ME
AWS_REGION=REPLACE_ME
AUDIO_BIBLES_BUCKET=REPLACE_ME
DEPLOY_IAM_ROLE_ARN=REPLACE_ME

# Redis Settings
REDIS_HOST=REPLACE_ME
REDIS_PORT=REPLACE_ME
REDIS_PASSWORD=REPLACE_ME

# Middleware Settings
TIMEOUT_SECONDS=REPLACE_ME
REQUEST_LIMIT_PER_HOUR=REPLACE_ME